.cart_container {
  display: flex;
  margin-bottom: 300px;
}
.bill_container {
  flex: 1;
  margin-top: 50px;
  margin-right: 50px;
  background-color: white;
  max-height: 500px;
  min-height: 350px;
  max-width: 400px;
  width: auto;
  height: auto;
  position: sticky;
  top: 100px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 1);
}

.cart_empty {
  text-align: center;
  padding: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: gray;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 1);
  font-style: italic;
}

.cart-shopping .title-cart {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 20px auto;
  width: 50%;
  border-bottom: 1px solid rgb(150, 146, 146);
}
