.categories {
  max-width: 800px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-items: center;
  margin: 40px;
  margin-left: 200px;
  align-items: center;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.categories .categories-create {
  background-color: honeydew;
  padding: 50px;
  max-height: 200px;
  flex: 1;
}
.categories .categories-info {
  flex: 2;
  background-color: honeydew;
  padding: 30px;
  margin-left: 30px;
}
.categories form {
  width: 290px;
  margin-bottom: 20px;
}

.categories label {
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.categories input {
  height: 35px;
  border: none;
  outline: none;
  background: honeydew;
  border-bottom: 1px solid #555;
}
.categories button {
  height: 35px;
  border: none;
  outline: none;
  background: honeydew;
  border-bottom: 1px solid #555;
}
.categories input {
  width: 210px;
}
.categories button {
  width: 70px;
  background: teal;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  margin-left: 10px;
}
.categories button:hover {
  background: yellow;
  color: black;
}
.categories .row {
  min-width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 1px solid #ccc;
}

.categories p {
  font-size: 15px;
  font-weight: 500;
  color: black;
}
